.bg-img1,
.bg-img2,
.bg-img3 {
  height: 500px;
  background-color: #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('landscape.jpg');
}
