.bg-img1,
.bg-img2,
.bg-img3 {
  height: 500px;
  background-color: #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://g1.img-dpreview.com/492F4EBD5BF24D2198D80D921BA022F7.jpg);
}
